@{
    ViewData["Title"] = "Dashboard";
}

@model DTO.DashboardDTO

<section class="panel">



    <article class="row text-center">
        @foreach (var item in Model.Kpis)
        {
            <ul class="card-columns" style="display:inline-block;">
                <li class="card text-white bg-primary mb-4" style="max-width: 18rem;">
                    <div class="card-header">Machines Ok</div>
                    <div class="card-body">
                        <h5 class="card-title">@item.machines_ok</h5>
                        @*<p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>*@
                    </div>
                </li>

                <li class="card text-white bg-warning mb-4" style="max-width: 18rem;">
                    <div class="card-header">Machines in Alert</div>
                    <div class="card-body">
                        <h5 class="card-title">@item.machines_alert</h5>
                        @*<p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>*@
                    </div>
                </li>

                <li class="card text-white bg-danger mb-4" style="max-width: 18rem;">
                    <div class="card-header">Machines Offline</div>
                    <div class="card-body">
                        <h5 class="card-title">@item.machines_offline</h5>
                        @*<p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>*@
                    </div>
                </li>
            </ul>

        }
    </article>

    <article class="row">

        <ul class="col-md-6 list-group">
            <li class="list-group-item d-flex justify-content-between align-items-center"><i class="h4 text-danger"> Top 10 Machines </i> without comunication</li>
            @foreach (var machine in Model.Machines)
            {
                <li class="list-group-item d-flex justify-content-between align-items-center">
                    @machine.ds_name
                  
                </li>

            }
        </ul>

        <ul class="col-md-6 list-group">
            <li class="list-group-item d-flex justify-content-between align-items-center bg"><i class="h4 text-warning"> Top 10 Programs</i> less hits</li>
            @foreach (var program in Model.Programs)
            {
                <li class="list-group-item d-flex justify-content-between align-items-center">
                    @program.program_name
                    <span class="badge badge-primary badge-pill">@program.program_counter</span>
                </li>
              
            }

        </ul>
    </article>

</section>

